<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
      <ion-menu-button side="start" menuId="first" contentId="content1"></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Welcome personnel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <ion-button href = "/personeel-details" expand="block" size="large" >Add Citizen</ion-button>
  <ion-button href = "/personnel-list" expand="block" size="large" >List</ion-button>
</ion-content>
